PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://mlnillarionova_db_user:HfFxEECjS2JmfzNu@ac-kve5cso-shard-00-00.owyktuc.mongodb.net:27017,ac-kve5cso-shard-00-01.owyktuc.mongodb.net:27017,ac-kve5cso-shard-00-02.owyktuc.mongodb.net:27017/eisenhower_app?ssl=true&replicaSet=atlas-y9s21b-shard-0&authSource=admin&appName=eisenhower-cluster
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=24h
CLIENT_ORIGIN=http://localhost:5173
